<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://sql7.freemysqlhosting.net:3306/sql7264745</property>
    <property name="hibernate.connection.username">sql7264745</property>
    <property name="hibernate.connection.password">Zb1XGdwrD6</property>
     <mapping class="net.impactotecnologico.demohibernate.pojo.Categoria" />
  </session-factory>
</hibernate-configuration>
